<div class="container h-100 d-flex">   
    <div class="row justify-content-center align-self-center mx-auto">    
        <form *ngIf="router.url == '/resetpass'">   
            <div class="mx-auto" id="reset-password">
                <label><b>{{'insertEmail' | translate}}:</b></label>
                <div class="form-group required-field-block">
                    <input type="text" name="Email" [(ngModel)]="model.email" #Email="ngModel" required maxlength="40"> 
                    <div class="required-icon">
                        <div class="text">*</div>
                    </div>
                    <!-- <a href="/login">{{'loginPage' | translate}}</a> -->
                    <button type="submit" class="btn btn-primary pull-right" (click)="sendMail(email)">
                        {{ 'button.send' | translate }}
                    </button>
                    <!-- <ngb-alert type="danger" *ngIf="errorMessage" [dismissible]="false">{{ errorMessage | translate }}</ngb-alert> -->
                </div>
            </div>
        </form>

        <form *ngIf="router.url !== '/resetpass'">   
            <div class="mx-auto form-group" id="send-password">
                <label class="label"><b>{{ 'change.password' | translate }}</b></label>
                <div class="required-field-block">                                            
                    <input type="password" autocomplete="off" name="password" [(ngModel)]="model.password" #password="ngModel" required validateEqual="confirmPassword" reverse="true">
                    <div class="required-icon">
                        <div class="text">*</div>
                    </div>
                </div>
                <ngb-alert type="danger" *ngIf="errorMessages && errorMessages['Password']" [dismissible]="false">
                    <div *ngFor="let errorMessage of errorMessages['Password']">{{ errorMessage | translate }}</div>
                </ngb-alert>
                <br />
                <label class="label"><b>{{ 'change.confirmPassword' | translate }}</b></label> 
                <div class="required-field-block">                                           
                    <input type="password" autocomplete="off" name="confirmPassword" [(ngModel)]="model.confirmPassword" #confirmPassword="ngModel" required validateEqual="password" reverse="false">
                    <div class="required-icon">
                        <div class="text">*</div>
                    </div>                                     
                </div>                   
                <div *ngIf="!confirmPassword.valid && confirmPassword.dirty">         
                    <ngb-alert type="danger" *ngIf="!confirmPassword.valid && confirmPassword.dirty" [dismissible]="false">{{ 'mismatch.password' | translate }}</ngb-alert>
                </div>  
                <div>
                    <button type="submit" class="btn btn-primary pull-right" (click)="changePassword(password)">
                        {{ 'button.send' | translate }}
                    </button>
                </div>          
            </div>               
        </form>
    </div>
</div>
