<div class="modal-header">
    <h6 class="modal-title">{{ title | translate }}</h6>
</div>

<div class="modal-body">
    <div class="container h-100">
        <div class="row justify-content-center align-self-center mx-auto">
            <form>
                <div id="room-editor">   
                    <div class="required-field-block">                 
                        <input type="text" placeholder="{{ 'rooms.name' | translate }}" name="Name" [(ngModel)]="model.name" #Name="ngModel">
                        <div class="required-icon">
                                <div class="text">*</div>
                        </div>
                    </div>
                    
                    <!-- NAME VALIDATION -->
                    <ngb-alert type="danger" *ngIf="errorMessages && errorMessages['Name']" [dismissible]="false">
                        <div *ngFor="let errorMessage of errorMessages['Name']">{{ errorMessage | translate }}</div>
                    </ngb-alert>
                    <div class="required-field-block">
                        <input type="text" placeholder="{{ 'rooms.location' | translate }}" name="Location" [(ngModel)]="model.location" #Location="ngModel">
                        <div class="required-icon">
                                <div class="text">*</div>
                        </div>
                    </div>
                    
                    <!-- LOCATION VALIDATION -->
                    <ngb-alert type="danger" *ngIf="errorMessages && errorMessages['Location']" [dismissible]="false">
                        <div *ngFor="let errorMessage of errorMessages['Location']">{{ errorMessage | translate }}</div>
                    </ngb-alert>  

                    <div class="btn-group button-block" ngbRadioGroup *ngIf="model.id" mx-auto>
                        <label ngbButtonLabel class="btn btn-primary ">
                            <input ngbButton type="radio" value="1">{{'user.isActive' | translate}}
                        </label>
                        <label ngbButtonLabel class="btn btn-primary" (click)="onDeleteRoom (room)">
                            <input ngbButton type="radio" value="2" >{{'user.isNotActive' | translate}}
                        </label>                      
                    </div>                 
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal-footer">
    
    <button type="button" class="btn btn-primary float-right" (click)="addRooms()" *ngIf="!model.id">{{ 'rooms.add' | translate }}</button> 
    <button type="button" class="btn btn-primary float-right" (click)="editRooms()" *ngIf="model.id">{{ 'rooms.save' | translate }}</button> 
    <!-- <button type="button" class="btn btn-primary float-right" (click)="closeLoginModal()">{{ 'button.close' | translate }}</button>    -->
</div>

<div class="container d-flex h-100" >
    <div class="row justify-content-center align-self-center mx-auto">     
        
    </div>
</div>
