<div class="modal-header" >
    <h6 class="modal-title">{{ roomAdd | translate }}</h6>
</div>

<div class="modal-body">
    <div class="container h-100">
        <div class="row justify-content-center align-self-center mx-auto">
            <form>
                <div id="room-editor">  
                    
                    <input type="text" placeholder="{{ 'rooms.name' | translate }}" name="Name" [(ngModel)]="model.name" #Name="ngModel">

                    
                    <input type="text" placeholder="{{ 'rooms.location' | translate }}" name="Location" [(ngModel)]="model.location" #Location="ngModel">
                    <br />
                    
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary float-right" (click)="createRoom()">{{ 'rooms.add' | translate }}</button> 
    <!-- <button type="button" class="btn btn-primary float-right" (click)="closeLoginModal()">{{ 'button.close' | translate }}</button>    -->
</div>
    