<div class="container d-flex h-100" >
    <div class="row justify-content-center align-self-center mx-auto">     
        <form>   
            <div id="user-cont" class="mx-auto">
                <a href="https://stefanini.com/en/" class="nav-link" >
                    <img src="../../../assets/img/header-logo2.png"  id="logo-header" class="img-fluid" >
                    <span id="nav-text1" class="navbar-brand text-center">Room Scheduler</span>
                </a>
                <ngb-alert type="danger" *ngIf="errorMessage" [dismissible]="false">{{ errorMessage | translate }}</ngb-alert>
                <!-- <label><b>Username</b></label> -->
                <div class="required-field-block">
                    <input  type="text" placeholder="{{ 'login.username' | translate }}" name="UserName" [(ngModel)]="model.name" #UserName="ngModel" required>
                    <div class="required-icon">
                            <div class="text">*</div>
                    </div>
                </div>

                <!-- <label><b>Password</b></label> -->
                <div class="required-field-block">
                    <input type="password" placeholder="{{ 'login.password' | translate }}" name="Password" [(ngModel)]="model.password" #Password="ngModel" required>
                    <div class="required-icon">
                            <div class="text">*</div>
                    </div>
                </div>
                <br />
                <button type="submit" class="btn btn-primary float-right" (click)="login()">
                    {{ 'login.button' | translate }}
                    <i class="fa fa-lock"></i>
                </button>
                <!-- <input type="checkbox" checked="checked"><span id="rem-me">Remember me</span> -->
            <!-- </div> -->

            <!-- <label><b>Password</b></label> -->
            <!-- <input type="password" placeholder="{{ 'login.password' | translate }}" name="Password" [(ngModel)]="model.password" #Password="ngModel" required>
            <br />
            <button id="loginbtn" type="submit" class="btn btn-primary" (click)="login()">
                {{ 'login.button' | translate }}
                <i class="fa fa-lock"></i>
            </button> -->
            <!-- <input type="checkbox" checked="checked"><span id="rem-me">Remember me</span> -->
        
            <div *ngIf="!isLoggedIn()">
                    {{'noAccount' | translate}}? <a href="/register">{{'clickHere' | translate}}</a>
            </div>

            <!-- <div id="cancel-cont">
                <button id="reset1" type="reset">Cancel</button>
                <span class="psw">Forgot <a href="#">password?</a></span>
            </div> -->
            </div>
        </form>
    </div>
</div>
    