<div class="modal-header" *ngIf="router.url != '/login'">
    <h6 class="modal-title">{{'login.button' | translate}}</h6>
    <button type="button" (click)="activeModal.close()"><i class="fa fa-times" aria-hidden="true"></i></button>
</div>

<div class="container d-flex h-100" >
    <div class="row justify-content-center align-self-center mx-auto">     
        <form>   
            <div id="user-cont" class="mx-auto">
                <div class="text-center">
                    <img src="../../../assets/img/header-logo2.png"  id="logo-header" class="img-fluid" >
                    <span id="nav-text1" class="navbar-brand">Room Scheduler</span>
                </div>
                <ngb-alert type="danger" *ngIf="errorMessage" [dismissible]="false">{{ errorMessage | translate }}</ngb-alert>
                
                <label class="label"><b>{{'register.email'| translate}}</b></label>
                <div class="required-field-block">
                    <input  type="text" placeholder="{{ 'login.email' | translate }}" name="Email" [(ngModel)]="model.email" #Email="ngModel" required>
                    <div class="required-icon">
                        <div class="text">*</div>
                    </div>
                </div>
                <br>

                <label class="label"><b>{{'register.password'| translate}}</b></label>
                <div class="required-field-block">             
                    <input type="password" placeholder="{{ 'login.password' | translate }}" name="Password" [(ngModel)]="model.password" #Password="ngModel" required>
                    <div class="required-icon">
                        <div class="text">*</div>
                    </div>
                </div>
                
                <div class="lostPassword">
                    <a href="/resetpass">{{'lostPassword' | translate}}?</a>
                </div>

                <button type="submit" class="btn btn-primary float-right" (click)="login()">
                    {{ 'login.button' | translate }}
                    <i class="fa fa-lock"></i>
                </button>
                <div class="clearfixaccount">
                    {{'noAccount' | translate}}? <a href="/register">{{'clickHere' | translate}}</a>
                </div>
                
                <!-- <input type="checkbox" checked="checked"><span id="rem-me">Remember me</span> -->
            <!-- </div> -->

            <!-- <label><b>Password</b></label> -->
            <!-- <input type="password" placeholder="{{ 'login.password' | translate }}" name="Password" [(ngModel)]="model.password" #Password="ngModel" required>
            <br />
            <button id="loginbtn" type="submit" class="btn btn-primary" (click)="login()">
                {{ 'login.button' | translate }}
                <i class="fa fa-lock"></i>
            </button> -->
            <!-- <input type="checkbox" checked="checked"><span id="rem-me">Remember me</span> -->
        
            <!-- <div *ngIf="!isLoggedIn()"> -->
                
            <!-- </div> -->

            <!-- <div id="cancel-cont">
                <button id="reset1" type="reset">Cancel</button>
                <span class="psw">Forgot <a href="#">password?</a></span>
            </div> -->
            </div>
        </form>
    </div>
</div>
    