<br>
<div class="scrollit">
  <table class="table table-hover table-striped table-responsive table table-bordered text-center">
    <thead>
        <tr>
          <th>{{'SystemParameters.Name' | translate}}</th>
          <th>{{'SystemParameters.Value' | translate}}</th>
          <th *ngIf="!editable">{{'SystemParameters.Edit' | translate}}</th>
          <th *ngIf="editable">{{'button.save' | translate}}</th>
          <th *ngIf="editable">{{'button.cancel' | translate}}</th>
          </tr>
    </thead>
  
    <tbody>
      <tr *ngFor="let setting of settingslist">
        <td>{{setting.varName | translate}} </td>
        <td *ngIf="!editable || setting.id!=modelForm.id">{{setting.value}}</td>
        <td *ngIf="editable && setting.id==modelForm.id">
          <div class="required-field-block">
            <input type="text" [(ngModel)]="modelForm.value" placeholder="{{setting.value}}" id="inputparameters" onkeypress='return event.charCode >= 48 && event.charCode <= 57'/>
            <div class="required-icon">
                <div class="text">*</div>
            </div>
          </div>
        </td>
        <td *ngIf="!editable">
          <button class = "btn btn-primary" (click)="makeEditable(setting)">
              <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
        </td>
        <td *ngIf="editable && setting.id==modelForm.id"> 
            <button class = "btn btn-primary" >
                <i class="fa fa-floppy-o" aria-hidden="true" (click)="editSettings()"></i>
            </button>
          </td>
        <td *ngIf="editable && setting.id==modelForm.id"> 
              <button class = "btn btn-primary" (click)="editable=false">
                  <i class="fa fa-times" aria-hidden="true"></i>
              </button>
          </td>
      </tr>
    </tbody>
  </table>
</div>