
<div class="container" style="padding-top: 80px">   

    <div class="row buttonsDiv">
        <room-selector (roomsLoaded)="onRoomsLoaded($event)" (roomChange)="onRoomChanged($event)"></room-selector>
        &nbsp;
        <div class="btn-group" ngbRadioGroup>
            <label ngbButtonLabel class="btn-primary"(click)="goBack()">
                <input ngbButton type="radio"><i class="fa fa-arrow-left"></i>
            </label>
            <label ngbButtonLabel class="btn-primary" (click)="goToToday()">
                <input ngbButton type="radio">{{ 'calendar.today' |translate }}
            </label>
            <label ngbButtonLabel class="btn-primary" (click)="goForward()">
                <input ngbButton type="radio"><i class="fa fa-arrow-right"></i>
            </label>
        </div>
        &nbsp;
        <div class="btn-group" ngbRadioGroup [ngModel]="view">
            <label ngbButtonLabel class="btn btn-primary" (click)="setView('dayView')">
                <input ngbButton type="radio" value="dayView">{{'calendar.day' |translate}}
            </label>
            <label ngbButtonLabel class="btn-primary" (click)="setView('weekView')">
                <input ngbButton type="radio" value="weekView">{{'calendar.week' |translate}}
            </label>

        </div>
        <label><b>&nbsp;{{ startDate | date: 'fullDate' }} &nbsp; {{ endDate | date: 'fullDate'}}</b></label>
        <!-- <button ngbButtonLabel ngbButton class="btn btn-primary RScalendarButton" (click)="createEvent()">Create</button> -->
    </div>

    <div class="row">
        <jqxScheduler #schedulerReference
                      [date]="startDate"
                      [width]="1000"
                      [height]="700"
                      [source]="dataAdapter"
                      [showLegend]="true"
                      [view]="view"
                      [appointmentDataFields]="eventDataFields"
                      [resources]="resources"
                      [views]="views"
                      [showToolbar]="false"
                      [editDialog]="false"      
                      (onContextMenuItemClick)="hidden"
                                   
                      (onDateChange)="showCalendarsDate($event)"
                      (onAppointmentClick)="showEditDialog(content, $event)"
                      (onCellClick)="showCreateDialog(content)"
                      [localization]="localization">    
                    
        </jqxScheduler>
    </div>
</div>


<!-- MODAL FORM -->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header" >
        <h6 class="modal-title">{{ saveEventTitle | translate }}</h6>
    </div>

    <div class="modal-body">
        <form>
            <!-- generic error message -->
            <ngb-alert type="danger" *ngIf="createErrorMessages && createErrorMessages['generic']" [dismissible]="false">
                <div *ngFor="let errorMessage of createErrorMessages['generic']">{{ errorMessage | translate }}</div>
            </ngb-alert>

            <div class="form-group">
                <div class="input-group">
                    <div>
                        <label><b>{{ 'calendar.startDate' | translate }}:&nbsp;</b></label>
                        <label>{{ model.startDate | date: 'fullDate'}}&nbsp;{{ model.startDate | date: 'shortTime'}}</label>
                    </div>
                </div>
                <ngb-alert type="danger" *ngIf="createErrorMessages && createErrorMessages['StartDate']" [dismissible]="false">
                    <div *ngFor="let errorMessage of createErrorMessages['StartDate']">{{ errorMessage | translate }}</div>
                </ngb-alert>

                <div class="input-group">
                    <div>
                        <label><b>{{ 'calendar.endDate' | translate }}: &nbsp;</b></label>
                        <label>{{ model.endDate | date: 'fullDate'}}&nbsp;{{ model.endDate | date: 'shortTime'}}</label>
                    </div>
                </div>
                <ngb-alert type="danger" *ngIf="createErrorMessages && createErrorMessages['EndDate']" [dismissible]="false">
                    <div *ngFor="let errorMessage of createErrorMessages['EndDate']">{{ errorMessage | translate }}</div>
                </ngb-alert>

                <div class="input-group">
                    <label hidden="true"><b>{{ 'calendar.notes' | translate }}:</b></label>
                    <label><textarea rows="3"  placeholder="{{ 'calendar.notes' | translate}}" class="textarea" name="notes" [(ngModel)]="model.notes" #notes="ngModel"></textarea></label>
                </div>
            </div>
        </form>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-primary RScalendarButton" (click)="cancelEvent()"  *ngIf="model.id">{{ 'button.cancel' | translate }}</button>
        <button type="button" class="btn btn-primary RScalendarButton" (click)="saveEvent()">{{ 'button.save' | translate }}</button>
        <button type="button" class="btn btn-primary RScalendarButton" (click)="c('Close click')">{{ 'button.close' | translate }}</button>
    </div>
</ng-template>

