<div class="container" style="padding-top: 80px">
      <div class="buttonsDiv">
        <room-selector onSelect="calendarUpdate()"></room-selector>
        <button ngbButtonLabel ngbButton class="btn btn-primary RScalendarButton" (click)="today()">TODAY</button>
        <button ngbButtonLabel ngbButton class="btn btn-primary RScalendarButton" (click)="goBack()"><strong>&lt;</strong></button>
        <button ngbButtonLabel ngbButton class="btn btn-primary RScalendarButton" (click)="goForward()"><strong>&gt;</strong></button>

        <button ngbButtonLabel ngbButton class="btn btn-primary RScalendarButton" (click)="setView('dayView')">DAY</button>
        <button ngbButtonLabel ngbButton class="btn btn-primary RScalendarButton" (click)="setView('weekView')">WEEK</button>
     </div>
 

  <jqxScheduler #schedulerReference
    [date]="date" [width]="1000" [height]="700" [source]="dataAdapter" [showLegend]="true" [view]="view"
    [resources]="resources" [views]="views" [showToolbar]="false">
  </jqxScheduler> 
</div>
