<div class="container h-100" style="padding-top: 3rem;padding-bottom: 4rem;">
        
        
    <div class="row">
        <div class="col">
            <room-selector (roomChange)="onRoomChanged($event)"></room-selector>
            <div class="btn-group" ngbRadioGroup>
                <label ngbButtonLabel class="btn-primary"(click)="goBack()">
                    <input ngbButton type="radio"><i class="fa fa-arrow-left"></i>
                </label>
                <label ngbButtonLabel class="btn-primary" (click)="goToToday()">
                    <input ngbButton type="radio">{{ 'calendar.today' |translate }}
                </label>
                <label ngbButtonLabel class="btn-primary" (click)="goForward()">
                    <input ngbButton type="radio"><i class="fa fa-arrow-right"></i>
                </label>
            </div>
        </div>
       

        <div class="col text-right">
            <div class="btn-group float-right" ngbRadioGroup [ngModel]="calendarSettings.view">
                <label ngbButtonLabel class="btn btn-primary" (click)="setView('dayView')">
                    <input ngbButton type="radio" value="dayView">{{'calendar.day' |translate}}
                </label>
                <label ngbButtonLabel class="btn-primary" (click)="setView('weekView')">
                    <input ngbButton type="radio" value="weekView">{{'calendar.week' |translate}}
                </label>
            </div>
            <label class="mx-2 d-none d-sm-block float-right">
                <b>{{ startDate | localizedDate | titlecase }}</b>
                <b *ngIf="calendarSettings.view == 'weekView'"> - {{ endDate | localizedDate| titlecase }}</b>
            </label>
        </div>

        <!--<button ngbButtonLabel ngbButton class="btn btn-primary" (click)="test($event)">Refresh</button>-->
    </div>

    <div class="row h-100 mby-5">
        <div class="col">
        <jqxScheduler #schedulerReference
                      [width]="'100%'" [height]="'100%'"
                      [rowsHeight]="10"
                      [date]="date"
                      [view]="calendarSettings.view"
                      [views]="calendarSettings.views"
                      [source]="dataAdapter"
                      [appointmentDataFields]="calendarSettings.eventDataFields"
                      [resources]="calendarSettings.resources"
                      [localization]="calendarSettings.localization"
                      [renderAppointment]="renderAppointment"

                      [showLegend]="true"
                      [showToolbar]="false"
                      [editDialog]="false"

                      (onContextMenuOpen)="ContextMenuOpen($event)"
                      (onContextMenuItemClick)="onContextMenuItemClick($event)"
                      (onDateChange)="updateCalendarDates($event)"
                      (onAppointmentClick)="false"
                      (onCellDoubleClick)="showCreateDialog()"
        ></jqxScheduler>
        </div>
    </div>
</div>
