<div class="container h-100 d-flex" id="lost-password">   
    <div class="row justify-content-center align-self-center mx-auto">    
        <form>   
            <div class="mx-auto">
                <label><b>{{'insertEmail' | translate}}:</b></label>
                <div class="form-group">
                    <input type="text" required> 
                    <!-- <a href="/login">{{'loginPage' | translate}}</a> -->
                    <button type="submit" class="btn btn-primary pull-right" (click)="sendMail()">
                        {{ 'button.send' | translate }}
                    </button>
                </div>
            </div>
        </form>


    </div>
</div>
