<div class="container h-100 d-flex" id="lost-password">   
    <div class="row justify-content-center align-self-center mx-auto">    
        <form>   
            <div class="mx-auto">
                <label><b>{{'insertEmail' | translate}}:</b></label>
                <div class="form-group">
                    <input type="text" name="Email" [(ngModel)]="model.email" #Email="ngModel" required> 
                    <!-- <a href="/login">{{'loginPage' | translate}}</a> -->
                    <button type="submit" class="btn btn-primary pull-right" (click)="sendMail()">
                        {{ 'button.send' | translate }}
                    </button>
                    <ngb-alert type="danger" *ngIf="errorMessage" [dismissible]="false">{{ errorMessage | translate }}</ngb-alert>
                </div>
            </div>
        </form>

        <form hidden="true">   
            <div class="mx-auto form-group">
                <div >                        
                    <label class="label"><b>{{ 'change.password' | translate }}</b></label>
                    <input type="password" autocomplete="off" name="password" [(ngModel)]="model.password" #password="ngModel" required validateEqual="confirmPassword" reverse="true">
                </div>
                <br />
                <div >                          
                    <label class="label"><b>{{ 'change.confirmPassword' | translate }}</b></label> 
                    <input type="password" autocomplete="off" name="confirmPassword" [(ngModel)]="model.confirmPassword" #confirmPassword="ngModel" required validateEqual="password" reverse="false">                                     
                </div>                   
                <div *ngIf="!confirmPassword.valid && confirmPassword.dirty">         
                    <ngb-alert type="danger" *ngIf="!confirmPassword.valid && confirmPassword.dirty" [dismissible]="false">{{ 'mismatch.password' | translate }}</ngb-alert>
                </div>  
                <div >
                    <button type="submit" class="btn btn-primary pull-right" (click)="changePassword()">
                        {{ 'button.send' | translate }}
                    </button>
                </div>          
            </div>               
        </form>
    </div>
</div>
