<div class="modal-header">
    <h6 class="modal-title">{{title | translate}}</h6>
    <button type="button" (click)="activeModal.close()"><i class="fa fa-times" aria-hidden="true"></i></button> 
</div>
    
<div class="modal-body">
    <div class="container h-100">
        <ngb-alert [dismissible]="false" type="danger" *ngIf="addAvail==false">{{'Error.Availability.Add' | translate}}</ngb-alert>
        <ngb-alert type="danger" *ngIf="errorMessages && errorMessages['generic']" [dismissible]="false">
            <div *ngFor="let errorMessage of errorMessages['generic']">{{ errorMessage | translate }}</div>
        </ngb-alert>
        <div class="row justify-content-center align-self-center mx-auto">          
            <form>
                <div class="row">
                    <label class="label"><b>{{'Availability.startDate'|translate}}</b></label>
                </div> 
                <div class="row">
                    <!--DATE PICKER-->                         
                    <form class="form-inline datePickerForm">
                        <div class="form-group">
                            <div class="input-group">
                            <input class="form-control" placeholder="{{displayDate | date: 'yyyy-MM-dd'}}"  name="startDate" ngbDatepicker #d="ngbDatepicker"  id="datePicker" [ngModel]="model.startDate" (ngModelChange)="model.startDate=$event" #startDate="ngModel" (focus)="d.open()" [disabled]="disabled"> 
                            <div class="input-group-append" >
                                <button class="btn btn-primary" (click)="d.toggle()" type="button" id="dropdownHosts" [disabled]="disabled">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                </button>
                            </div>
                            </div>
                        </div>
                    </form>                                 
                    <room-selector (roomChange)="onRoomChanged($event)"></room-selector>    
                </div>
            </form>
            
        </div>
        <ngb-alert type="danger" *ngIf="errorMessages && errorMessages['EndDate']" [dismissible]="false">
            <div *ngFor="let errorMessage of errorMessages['EndDate']">{{ errorMessage | translate }}</div>
        </ngb-alert>
        <!--START AND END HOUR-->
        <div>
            <!-- VALIDATION FOR HOURS BETWEEN 9 AND 18 -->
            <div class="marginLeftRight text-center">
                <ngb-alert type="danger" [dismissible]="false" *ngIf="!ctrl.valid">
                    <div *ngIf="ctrl.errors['tooEarly']">{{'Availability.Hours' | translate}}</div>
                </ngb-alert>
            </div>
            <div class="row">                  
                <label class="label col-5 labelHour"><b>{{'Availability.startHour' | translate}}</b></label>
                <label class="label col-5 labelHour"><b>{{'Availability.endHour' | translate}}</b></label>                    
            </div>

            <div class="row justify-content-center align-self-center mx-auto">
                <ngb-timepicker class="timePicker" [(ngModel)]="startHour" [minuteStep]="minuteStep"></ngb-timepicker>
                <ngb-timepicker [(ngModel)]="endHour" [minuteStep]="minuteStep"></ngb-timepicker>
            </div>
        </div>
        <!--DAY OF WEEK CHECKBOX-->
        <div class="form-group btn-group" *ngIf="!model.id">
            <div *ngFor="let day of daysOfWeek">
                <label class="btn-primary labelCheckbox" ngbButtonLabel>
                    <input type="checkbox"
                            name="daysOfWeek"
                            value="{{day.value}}"
                            [(ngModel)]="day.checked"/>
                    {{day.name}}
                </label>
            </div>
        </div>
        <!--OCCURENCE-->
        <!-- <div class="row labelCheckbox">
                <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle >{{selectedOccurrence.value}} {{'week' | translate}}</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button class="dropdown-item" *ngFor="let selectedOccurrence of occurrence" [(ngModel)]="selectedOccurrence.value" [value]="selectedOccurrence.value" ngDefaultControl>{{selectedOccurrence.value}} {{'week' | translate}}</button>
                    </div>
                </div>
        </div> -->

        <select [(ngModel)]="selectedOccurrence" class="btn btn-primary" style="margin-left: 5px;">
            <option id="occurrence" *ngFor="let week of occurrence" [ngValue]="week" id="occurrence" > {{week.value}} {{'week' | translate}} </option>
        </select>       
    </div>
</div>
    
<div class="modal-footer">
    <button type="button" class="btn btn-primary" *ngIf="model.id" (click)="removeAvailability()">{{ 'Availability.remove' | translate }}</button>   
    <button type="button" class="btn btn-primary float-right" *ngIf="!model.id" (click)="addAvailability()">{{'Availability.add'|translate}}</button> 
    <button type="button" class="btn btn-primary float-right" *ngIf="model.id" (click)="editAvailability()">{{'button.save'|translate}}</button> 
</div>
