<ngb-tabset class="admintabs">
  <ngb-tab>
  <ng-template ngbTabTitle><b>{{'AdminTabs.Users' | translate}}</b></ng-template>
    <ng-template ngbTabContent>
      <br>
      <button class="btn btn-primary float-left" (click)="onAddUser()">{{'user.add' | translate}}</button>
    <br><br>
    <!-- <div class="container"> -->
      <!-- <ngb-pagination [collectionSize]="120"  [(page)]="page"  [rotate]="true" [ellipses]="false" ></ngb-pagination> -->
      <table class="table table-hover table-striped table-responsive table-bordered text-center">
        <thead>
            <tr>
              <th>{{'user.name' | translate}}</th>
              <th>{{'user.firstName' | translate}}</th>
              <th>{{'user.lastName' | translate}} </th>
              <th>{{'user.userRole' | translate}}</th>
              <th>{{'user.edit' | translate}}</th>
              <!-- <th>{{'user.delete' | translate}}</th> -->
            </tr>
        </thead>

              <tbody>
                <tr *ngFor="let user of users | paginate: { itemsPerPage: 'user.limit', currentPage: 'user.page', totalItems: total }"  >
                  <td>{{user.name}}</td>
                  <td>{{user.firstName}}</td>
                  <td>{{user.lastName}}</td>
                  <td>{{user.userRole}}</td>
                  
                  <td>
                    <button class = "btn btn-primary" (click)="onSelectUser()" title="{{'user.edit' | translate}}">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                  </td>
                  <!-- <td>
                    <button class="btn btn-primary" type="button" (click)="onDeleteUser(user)" title="{{ 'rooms.delete' | translate }}">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                  </td> -->
                </tr>
           
                <!-- <div *ngFor="let user of users" >{{'user.name' | translate}}: {{user.name}}, {{'user.firstName' | translate}}: {{user.firstName}}, {{'user.lastName' | translate}}: {{user.lastName}}, {{'user.userRole' | translate}}: {{user.userRole}}</div> -->
              </tbody>

              </table>
              <!-- <pagination-controls  directionLinks = "true"></pagination-controls> -->
            <!-- </div> -->
          </ng-template>
        </ngb-tab>

  <ngb-tab>
    <ng-template ngbTabTitle><b>{{'AdminTabs.Hosts' | translate}}</b></ng-template>
    <ng-template ngbTabContent></ng-template>
  </ngb-tab>

  <ngb-tab>
    <ng-template ngbTabTitle><b>{{'AdminTabs.Rooms' | translate}}</b></ng-template>
    <ng-template ngbTabContent>       
      
      <br>
      <button class = "btn btn-primary float-left" (click)="onAddRoom()">{{'rooms.add' | translate}}</button><br><br>
      <table class="table table-hover table-striped table-responsive table table-bordered text-center">
        <thead>
            <tr>
              <th>{{'calendar.rooms' | translate}}</th>
              <th>{{'location' | translate}}</th>
              <th>{{'options' | translate}}</th>
            </tr>
        </thead>

        <tbody>
          <tr *ngFor="let room of rooms">
            <td>{{room.name}}</td>
            <td>{{room.location}}</td>
            <td> 
              <button class = "btn btn-primary" (click)="onSelectRoom(room)" title="{{'rooms.edit' | translate}}">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
              </button>
              <button class="btn btn-primary" type="button" (click)="open(content, room)" title="{{ 'rooms.delete' | translate }}">
                  <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      
      <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">{{ 'rooms.deleteRoom' | translate }}</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>{{ 'confirmDelete' | translate }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="onDeleteRoom(selectedRoom)">{{ 'rooms.delete' | translate }}</button>
        </div>
      </ng-template>           
    </ng-template>
  </ngb-tab>
  
</ngb-tabset>
