<div class="modal-header" >
    <h6 class="modal-title">{{ title | translate }}</h6>
    <button type="button" (click)="activeModal.close()"><i class="fa fa-times" aria-hidden="true"></i></button>
</div>

<div class="modal-body">
    <form>
        <div class="container">
            <!-- generic error message -->
            <ngb-alert type="danger" *ngIf="errorMessages && errorMessages['generic']" [dismissible]="false">
                <div *ngFor="let errorMessage of errorMessages['generic']">{{ errorMessage | translate }}</div>
            </ngb-alert>

            <div class="form-group">
                    <div class="row" *ngIf="model.id">
                            <div class="input-group">
                                <label class="col-md-4"><b>{{'calendar.timeStamp' | translate}}:</b></label>
                                <label class="col">{{ model.dateCreated | localizedDate | titlecase}} {{ model.dateCreated | date: 'shortTime'}}</label>
                            </div>
                    </div>
            <div class="row">
                    <div class="input-group">
                        <label class="col-md-4"><b>{{ 'calendar.startDate' | translate }}:</b></label>
                        <label class="col">{{ model.startDate | localizedDate | titlecase}} {{ model.startDate | date: 'shortTime'}}</label>
                    </div>
            </div>

            <ngb-alert type="danger" *ngIf="errorMessages && errorMessages['StartDate']" [dismissible]="false">
                <div *ngFor="let errorMessage of errorMessages['StartDate']">{{ errorMessage | translate }}</div>
            </ngb-alert>
            
            </div>
            <div class="row">
                <div class="input-group">
                    <label class="col-md-4"><b>{{ 'calendar.endDate' | translate }}:</b></label>
                    <label class="col">{{ model.endDate | localizedDate | titlecase}} {{ model.endDate | date: 'shortTime'}}</label>
                </div>
            </div>
            <ngb-alert type="danger" *ngIf="errorMessages && errorMessages['EndDate']" [dismissible]="false">
                <div *ngFor="let errorMessage of errorMessages['EndDate']">{{ errorMessage | translate }}</div>
            </ngb-alert>       
            <div class="row">
                <div class="input-group">
                    <div class="col">
                        <label hidden="true"><b>{{ 'calendar.notes' | translate }}:</b></label>
                        <textarea placeholder="{{ 'calendar.notes' | translate}}" class="w-100 h-100" name="notes" [(ngModel)]="model.notes" #notes="ngModel"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="cancelEvent()"  *ngIf="model.id">{{ 'calendar.buttons.cancel.event' | translate }}</button>
    <button type="button" class="btn btn-primary" (click)="saveEvent()">{{ 'button.save' | translate }}</button>
</div>