<nav class="navbar navbar-expand-lg bg-dark navbar-dark top">
        <div>
            <img id="img1" src="../assets/img/Logo_Stefanini_Q.png" alt="Stefanini-logo">
            <span id="nav-text1" class="navbar-brand">Room Scheduler</span>
            <!-- <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollaspse">
                <span class="navbar-toggler-icon"></span>
            </button> -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <!-- <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#explore" class="nav-link">Explore</a>
                    </li>
                    <li class="nav-item">
                            <a href="#sign-out" class="nav-link">Sign out</a>
                    </li>
                </ul> -->
            </div>
        </div>
    </nav>