<div class="container d-flex h-100">
    <div class="row justify-content-center align-self-center col-sm-6 col-md-9 col-lg-8 col-xl-5 mx-auto">
        <div class="card-body">
            <form>
                <div id="user-cont">
                    <a href="https://stefanini.com/en/">
                    <img src="../../../assets/img/header-logo2.png"  id="logo-header" class="img-fluid">
                    <span id="nav-text1" class="navbar-brand">Room Scheduler</span>
                    </a>

                    <ngb-alert type="danger" *ngIf="errorMessage" [dismissible]="false">{{ errorMessage | translate }}</ngb-alert>
                    <!-- <label><b>Username</b></label> -->
                    <input type="text" placeholder="{{ 'login.username' | translate }}" name="UserName" [(ngModel)]="model.name" #UserName="ngModel" required>

                    <!-- <label><b>Password</b></label> -->
                    <input type="password" placeholder="{{ 'login.password' | translate }}" name="Password" [(ngModel)]="model.password" #Password="ngModel" required>
                    <br />
                    <button id="loginbtn" type="submit" class="btn btn-primary" (click)="login()">
                        {{ 'login.button' | translate }}
                        <i class="fa fa-lock"></i>
                    </button>
                    <!-- <input type="checkbox" checked="checked"><span id="rem-me">Remember me</span> -->
                </div>

                <!-- <div id="cancel-cont">
                    <button id="reset1" type="reset">Cancel</button>
                    <span class="psw">Forgot <a href="#">password?</a></span>
                </div> -->
            </form>
        </div>
    </div>
</div>


<rs-footer></rs-footer>