<header>
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
        <div>
            <img id="logo-header" src="../../../assets/img/header-logo2.png" alt="Stefanini-logo">
            <span class="navbar-brand">Room Scheduler</span>
        </div>

        <div class="right-side">
            <span id="welcome-message" *ngIf="isLoggedIn()">Welcome,<b> {{currentUser.name}}</b>!</span>
            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-primary" id="languageSelector" ngbDropdownToggle>
                    <img width=20 src="{{ currentLanguage.icon }}" alt="{{ currentLanguage.name }}"/>
                    {{ currentLanguage.name }}
                </button>
                <div ngbDropdownMenu aria-labelledby="languageSelector">
                    <button *ngFor="let language of languages" class="dropdown-item" (click)="changeLanguage(language.code)">
                        <img width=20 src="{{ language.icon }}" alt="{{ language.name }}"/>
                        {{ language.name }}
                    </button>
                </div>
            </div>
            <div id="logout" *ngIf="isLoggedIn()">
                <button id="sign-out" class="btn btn-primary " (click)="logout()">
                    <span class="fa fa-sign-out" aria-hidden="true">Sign out</span>
                </button>
            </div>
        </div>
    </nav>
</header>
