<header class="fixed-top">
    <div class="py-2 px-4 w-100 text-right" id="welcome-message" *ngIf="currentUser">{{ 'welcome' | translate }}, <b>{{currentUser.firstName}}</b>!</div>
    <div class="text-left" id="pageButtons">
        <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="calendar"><b>{{'button.home' | translate}}</b></a>
            </li>
            <li class="nav-item" *ngIf="!currentUser">
              <a class="nav-link" href="register">{{'button.register' | translate}}</a>
            </li>
            <li class="nav-item" >
              <a class="nav-link" href="admin" *ngIf="isAdmin(currentUser)">{{'button.admin' | translate}}</a>
            </li>
          </ul>
    </div>
    <div class="row">
        <img class="w-100" height="75" src="./assets/img/rsheader1.png" alt="">
    </div>
    <div class="row py-2 px-4">
        <div class="col">
            <a class="navbar-brand" href="/">
                <img class="d-inline-block align-top" height="30" src="../../../assets/img/Logo_Stefanini_Q.png" alt="Stefanini-logo">
            </a>
        </div>
        <div *ngIf="userIsPenalizedInRoom" class="col">
            <ngb-alert id="penalized-user" [dismissible]="false" type="custom"><b>{{ 'UserPenalized' | translate }}</b></ngb-alert>
        </div>
        
       
        
        <div class="coll pull-right">
            <div class="d-inline-block" *ngIf="currentUser">
                <button class="btn btn-primary" (click)="logout()">
                    <span class="fa fa-sign-out" aria-hidden="true">{{ 'logout.button' | translate }}</span>
                </button>
            </div>
            <div class="d-inline-block" *ngIf="!currentUser&&checkIfloginRoute==false">
                <button type="submit" class="btn btn-primary" (click)="redirectToLogin()">
                    {{ 'login.button' | translate }}
                    <i class="fa fa-lock"></i>
                </button>
            </div>
            <language-selector class="d-inline-block" [languages]="languages"></language-selector>
        </div>
    </div>
</header>
