<div class="modal-header" *ngIf="isLoggedIn">
    <h6 class="modal-title">{{ title | translate }}</h6>
    <button type="button"(click)="activeModal.close()"><i class="fa fa-times" aria-hidden="true"></i></button>
</div>
          
<div class="container d-flex h-100">
    <div class="row justify-content-center align-self-center mx-auto">                   
        <div id="registerForm" class="mx-auto">           
            <form name="regForm">
                <div id="user-cont">
                    <div class="text-center" *ngIf="!isLoggedIn">
                        <img src="../../../assets/img/header-logo2.png" id="logo-header" class="img-fluid">
                        <span id="nav-text1" class="navbar-brand">Room Scheduler</span>
                    </div> 
                    <ngb-alert type="danger" *ngIf="errorMessages && errorMessages['generic']" [dismissible]="false">
                        <div *ngFor="let errorMessage of errorMessages['generic']">{{ errorMessage | translate }}</div>
                    </ngb-alert>

                    <!-- EMAIL -->                      
                    <div class="row">
                        <div class="col">
                            <label class="label"><b>{{ 'register.email' | translate }}</b></label> 
                            <div class="required-field-block">
                                <input type="text" placeholder="{{ 'register.email' | translate }}" name="email" [(ngModel)]="modelForm.email" #email="ngModel" required maxlength="45" >
                                    <div class="required-icon">
                                        <div class="text">*</div>
                                    </div>
                            </div>                            
                                        
                            <!-- FRONTEND VALIDATION -->
                            <ngb-alert type="danger" [dismissible]="false" *ngIf="!email.valid && email.dirty">{{ 'wrong.email' | translate }}</ngb-alert>
                            <!-- BACKEND VALIDATION  -->
                            <ngb-alert type="danger" *ngIf="errorMessages && errorMessages['Email']" [dismissible]="false">
                                <div *ngFor="let errorMessage of errorMessages['Email']">{{ errorMessage | translate }}</div>
                            </ngb-alert>
                        </div>
                    </div>
                    <br />

                    <!-- FIRSTNAME and LASTNAME -->
                    <div class="row">
                        <label class="col label"><b>{{ 'register.firstName' | translate }}</b></label> 
                        <label class="col label"><b>{{ 'register.lastName' | translate }}</b></label> 
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="required-field-block">
                                <input type="text" placeholder="{{ 'register.firstName' | translate }}" name="firstName" [(ngModel)]="modelForm.firstName" #firstName="ngModel" required maxlength="20">
                                <div class="required-icon">
                                    <div class="text">*</div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col">
                            <div class="required-field-block">
                                <input type="text" placeholder="{{ 'register.lastName' | translate }}" name="lastName" [(ngModel)]="modelForm.lastName" #lastName="ngModel" required maxlength="20">
                                <div class="required-icon">
                                    <div class="text">*</div>
                                </div>
                            </div>
                        </div>                                
                    </div>
                    <!-- BACKEND VALIDATION -->
                    <ngb-alert type="danger" *ngIf="errorMessages && errorMessages['FirstName']" [dismissible]="false">
                        <div *ngFor="let errorMessage of errorMessages['FirstName']">{{ errorMessage | translate }}</div>
                    </ngb-alert>
                    <ngb-alert type="danger" *ngIf="errorMessages && errorMessages['LastName']" [dismissible]="false">
                        <div *ngFor="let errorMessage of errorMessages['LastName']">{{ errorMessage | translate }}</div>
                    </ngb-alert>
                    <br />
                    
                    <!-- PASSWORD -->
                    <div class="row">
                        <label class="col label"><b>{{ 'register.password' | translate }}</b></label> 
                        <label class="col label"><b>{{ 'register.confirmPassword' | translate }}</b></label> 
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="required-field-block">
                                <input type="password" autocomplete="off" placeholder="{{ 'register.password' | translate }}" name="password" [(ngModel)]="modelForm.password" #password="ngModel" required validateEqual="confirmPassword" reverse="true">
                                <div class="required-icon" *ngIf="!model.id">
                                    <div class="text">*</div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col">
                            <div class="required-field-block">
                                <input type="password" autocomplete="off" placeholder="{{ 'register.confirmPassword' | translate }}" name="confirmPassword" [(ngModel)]="modelForm.confirmPassword" #confirmPassword="ngModel" required validateEqual="password" reverse="false">
                                <div class="required-icon" *ngIf="!model.id">
                                    <div class="text">*</div>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div> 
                    <!-- ALERTS -->
                    <div class="row" *ngIf="!confirmPassword.valid && confirmPassword.dirty">
                        <div class="col">
                            <ngb-alert type="danger" *ngIf="!confirmPassword.valid && confirmPassword.dirty" [dismissible]="false">{{ 'mismatch.password' | translate }}</ngb-alert>
                        </div>
                    </div>
                    <ngb-alert type="danger" *ngIf="errorMessages && errorMessages['Password']" [dismissible]="false">
                        <div *ngFor="let errorMessage of errorMessages['Password']">{{ errorMessage | translate }}</div>
                    </ngb-alert>

                    <!--BUTTONS --> 
                    <br> 
                    <div class="row">
                        <div class="col-3">
                                <label class="label"><b>{{ 'register.department' | translate }}</b></label> 
                        </div>
                        
                        <div class="btn-group col-4" ngbRadioGroup>
                            <label ngbButtonLabel class="btn btn-primary" (click)="adcDepartment(user)">
                                <input ngbButton type="radio">ADC </label>
                            <label ngbButtonLabel class="btn btn-primary" (click)="sdcDepartment(user)">
                                <input ngbButton type="radio">SDC </label>                      
                        </div>                      
                    </div>                    

                    <!-- ACTIVE/INACTIVE -->
                    <div class="row">
                        <div class="col-3">
                            <label *ngIf="model.id" class="label"><b>{{ 'register.status' | translate }}</b></label> 
                        </div>
                    
                        <div class="col-4">
                            <div class="btn-group button-block" ngbRadioGroup *ngIf="model.id" centered mx-auto>
                                <label ngbButtonLabel class="btn btn-primary" (click)="activateUser(user)">
                                    <input ngbButton type="radio">{{'user.isActive' | translate}}
                                </label>
                                <label ngbButtonLabel class="btn btn-primary" (click)="deactivateUser(user)">
                                    <input ngbButton type="radio">{{'user.isNotActive' | translate}}
                                </label>                      
                            </div>
                        </div>
                    </div>

                    <!-- ROLES -->
                    <div class="row">
                        <div class="col-3">
                            <label *ngIf="isAdmin(currentUser)" class="label"><b>{{ 'role' | translate }}</b></label>
                        </div>
                        <div class="col col-md-4">
                            <div ngbDropdown class="d-inline-block" *ngIf="isAdmin(currentUser)">
                                <button class="btn btn-primary" ngbDropdownToggle>{{displayRole}}</button>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                    <button *ngFor="let Role of roleKeys()" class="dropdown-item" value="{{Role}}" (click)="onRoleChange(Role);onRoleSelect(Role)">
                                        {{Role}}
                                    </button>
                                </div>
                            </div> 
                        </div>                                                                           
                    </div>
                    <hr class="my-1">                              
                    <button type="submit" class="btn btn-primary pull-right" *ngIf="model.id" (click)="editUser()">
                        {{ 'user.save' | translate }}
                    </button>                                     
                    <button type="submit" class="btn btn-primary pull-right" *ngIf="!model.id && !isAdmin(currentUser)" (click)="register()">
                        {{ 'register.button' | translate }} 
                    </button>                                   
                    <button type="submit" class="btn btn-primary pull-right" *ngIf="!model.id && isAdmin(currentUser)" (click)="addByAdmin()">
                        {{ 'register.button' | translate }} 
                    </button>                                   
                    <p *ngIf="!(isLoggedIn) && !model.id">                         
                        {{ 'login.alreadyHaveAccount' | translate }}
                        <a routerLink="/login">{{ 'login.button' | translate }}</a>.
                    </p>
                </div>
            </form>
        </div>
    </div> 
</div>
    