
<div class="row">
        <host-selector></host-selector>
        <div id="dropdownHosts">
                <div >
                    <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-primary" ngbDropdownToggle >{{'week' | translate }}</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" id="dropdownArea">
                            <button *ngFor="let week of weeks; let i=index" class="dropdown-item">
                                {{'week' | translate }} {{i+1}}
                            </button>
                        </div>
                    </div> 
                </div>                                                                           
        </div>
</div>

<host-availability></host-availability>