
<div class="row">
        <host-selector></host-selector>
        <form class="form-inline datePickerForm">
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd"
                           name="dp" [(ngModel)]="model.startDate" ngbDatepicker #d="ngbDatepicker" id="datePicker" >
                    <div class="input-group-append">
                      <button class="btn btn-primary" (click)="d.toggle()" type="button">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </form>
</div>

<host-availability></host-availability>