
<div class="row" style="margin-left:0px">
  <!-- <host-selector (hostChange)="onHostChanged($event)"></host-selector> -->
  <form class="form-inline datePickerForm">
    <div class="form-group">
      <div class="input-group">
        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model.startDate" ngbDatepicker #d="ngbDatepicker" id="datePicker" >
        <div class="input-group-append">
          <button class="btn btn-primary" (click)="d.toggle()" type="button">
            <i class="fa fa-calendar" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </form> &nbsp;
  <button class="btn btn-primary" (click)="onAddAvailability()">{{'Availability.add' | translate}}</button>
  
</div>


<host-availability></host-availability>
