<div class="mx-5">
  <ngb-tabset class="admintabs">
    <ngb-tab>
      <ng-template ngbTabTitle><b>{{'AdminTabs.Users' | translate}}</b></ng-template>
      <ng-template ngbTabContent>
        <admin-users-tab></admin-users-tab>
      </ng-template>
      <!-- <ng-template ngbTabContent>
        
        <button class="btn btn-primary float-left" (click)="onAddUser()">{{'user.add' | translate}}</button>
        <br><br>
      
        <table class="table table-hover table-striped table-responsive table-bordered text-center">
          <thead>
              <tr>
                <th>{{'user.name' | translate}}</th>
                <th>{{'user.firstName' | translate}}</th>
                <th>{{'user.lastName' | translate}} </th>
                <th>{{'user.userRole' | translate}}</th>
                <th>{{'user.isActive' | translate}}</th>
                <th>{{'actions' | translate}}</th>
              </tr>
          </thead>

          <tbody>
            <tr *ngFor="let user of users | paginate: { itemsPerPage: 6, currentPage: page}"  >
              <td>{{user.name}}</td>
              <td>{{user.firstName}}</td>
              <td>{{user.lastName}}</td>
              <td>{{user.userRole}}</td>
              <td>{{user.isActive}}</td>
              <td>
                <button class = "btn btn-primary" (click)="onSelectUser(user)" title="{{'user.edit' | translate}}">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
      </ng-template> -->
    </ngb-tab>

    <ngb-tab>
      <ng-template ngbTabTitle><b>{{'AdminTabs.Rooms' | translate}}</b></ng-template>
      <ng-template ngbTabContent>       
        
        
        <button class = "btn btn-primary float-left" (click)="onAddRoom()">{{'rooms.add' | translate}}</button><br><br>
        <table class="table table-hover table-striped table-responsive table table-bordered text-center">
          <thead>
              <tr>
                <th>{{'AdminTabs.Rooms' | translate}}</th>
                <th>{{'location' | translate}}</th>
                <th>{{'rooms.isActive' | translate}}</th>
                <th>{{'actions' | translate}}</th>
              </tr>
          </thead>

          <tbody>
            <tr *ngFor="let room of rooms | paginate: { itemsPerPage: 6, currentPage: roompage}">
              <td>{{room.name}}</td>
              <td>{{room.location}}</td>
              <td>{{room.isActive}}</td>
              <td> 
                <button class = "btn btn-primary" (click)="onSelectRoom(room)" title="{{'rooms.edit' | translate}}">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="roompage = $event"></pagination-controls>     
      </ng-template>
    </ngb-tab>
    
  </ngb-tabset>
</div>