/* You can add global styles to this file, and also import other style files */
html, body
{
    background: rgb(255, 255, 255);
    color: black;
    height: 100%; 
}

.navbar{
    z-index: 1;
}

.bg-overlay {   
    background: linear-gradient(rgba(255, 255, 255, 0.158), rgba(0, 0, 0, 0.075)), url('/../../../assets/img/grey.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    padding-top: 80px;
      
    min-height: 100%;
    width: 100%;
   
    position: fixed;
    top: 1px;
    left: 0;

}



#logo-header
{  
    text-align: left;
    height: 40px;
    width: 40px;
    position: relative;
    margin-bottom: 10px;

}

#img2
{
    height: 300px;
    width: 600px;
    padding-left: 50px;
    
}

#footerimg{
    height:70px;
    width: 100%;
    padding: 0;
    z-index: 0;
    position: relative; 
}

.navbar-brand
{
   
    font-size: 30px !important;
    -webkit-text-stroke-width: thin;
    color: #004e9e;
    padding-top: 0 !important;
   
}

form 
{
    border: 0;
    float: none;
    padding-top: 10px;
    margin: auto;
}

.card-body{
    background-color: #F7F7F7;
    margin:auto;
    padding: 2px;
    border: 1px solid rgb(223, 220, 220);
    width: 60%;
}

h3 {
    text-align: center;
    padding: 10px;
}

#user-cont {
    background-color: #F7F7F7;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;    
}

.modal-content #user-cont, .modal-content #registerForm {
    background-color: #fff;
}

/* label {
    color: rgb(0, 0, 0);
    padding-top: 5px;
} */

input[type=text], input[type=password]
{
    width: 100%;
    padding: 12px 20px;
    margin-top: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    line-height: initial;
}

/* CONTACT US BUTTON */
#b1 {
    float: right;
    border-radius: 0;
    font-weight: 700;
    font-size: 14px;
}

button {
    background-color: #004e9e;
    color: #fff;
    margin: 8px 0;
    margin-right: 2cm;
    border: none;
    padding-top: 0px;
    font-weight: 700;
    font-size: 14px;
    
}

body .btn, button {
    cursor: pointer;
}

body .btn-primary {
    background-color: #004e9e;
    margin-top: 8px;
    margin-bottom: 8px;
}

body .btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    box-shadow: none;
}

#b1:hover,
#b1:active,
#b1:focus  {
    background-color: #007bff;
}

#rem-me {
    padding-left: 10px;
    color: white;
}

#cancel-cont {
    padding: 10px;
    background-color:#f1f1f1;
}

#reset1 {
    width: auto;
    padding: 10px 18px;
    background-color: #aaaaaa;
}

.container {
    /* margin-top: 60px; */
    position: relative;
   
}

span.psw {
    float: right;
    padding-top: 16px;
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

#copyright p {
    padding-left: 50px;
    font-size: 11px;
    float: left;
    margin-bottom: 0;
    color: black;
}

header, footer {
    position: fixed;
    width: 100%;
}

header nav {
    padding: 10px;
}
footer {
    bottom: 0;
    overflow: hidden;
    font-size: 15px;
}

footer p {
    padding-top: 10px;
    margin: 4px 0px 20px 5px;
    z-index: 1;
    position: absolute; 
}

footer a {
    padding-top: 13px;
    margin: 4px 0px 20px 5px;
}


#headerimg{
    height:70px;
    width: 100%;
    position: relative;
}
  
#sign-out {
    position: relative;
    padding: 10px;

}

#logout {
    position: relative;
    margin-inline-start: 1712px;
    width: 147px;
}

#welcome-message {
    position: absolute;
    top: 35px;
}

.modal-header{
    color: #fff;
    background-color: #004e9e;
}
.modal-content .modal-body {
    align-self: center;    
    width: 95%; 
}

#nav-text1 {
    margin-top: 0;
    margin-right: 0;
    font-family: 'daxfont', sans-serif;
}

#toast-container .toast.toast-success {
    background-color: #004e9e;
    color: #fff;
}

.alert-custom{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #721c24;
    height: 38px;
    text-align: center;
    width:40%;
}

.fa-times{
    color: #fff;
}

.admintabs {
    position: relative;
    top: 80px;
}

.nav-tabs {
    border-bottom: 1px #ddd !important;
}

#pageButtons {
    position: absolute;
    z-index: 2;
}

#pageButtons a{
    color: #fff;
}

#pageButtons a:hover, #pageButtons a:link{
    color: #cad400;
}

#registerForm{
    background-color: #F7F7F7;
    padding-left: 20px;
    padding-right: 20px;
}

  /* .jqx-rc-all .jqx-scheduler-appointment {
    left: 567px;
    top: 161px;
    width: 170px;
    height: 27px;
}
 */

 #legend {
  margin-bottom:8px;
  background-color:#004e9e;
  font-weight: 400;
  padding: 10px;
    
 }

 .required-field-block {
    position: relative;   
}

.required-field-block .required-icon {
    display: inline-block;
    vertical-align: middle;
    margin: -0.25em 0.25em 0em;
    background-color: #E8E8E8;
    border-color: #E8E8E8;
    padding: 0.5em 0.8em;
    color: rgba(0, 0, 0, 0.65);
    text-transform: uppercase;
    font-weight: normal;
    border-radius: 0.325em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background 0.1s linear;
    -moz-transition: background 0.1s linear;
    transition: background 0.1s linear;
    font-size: 75%;
}
	
.required-field-block .required-icon {
    background-color: transparent;
    position: absolute;
    top: 0em;
    right: 0em;
    z-index: 10;
    margin: 0em;
    width: 30px;
    height: 30px;
    padding: 0em;
    text-align: center;
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    transition: color 0.2s ease;
}

.required-field-block .required-icon:after {
    position: absolute;
    content: "";
    right: 1px;
    top: 1px;
    z-index: -1;
    width: 0em;
    height: 0em;
    border-top: 0em solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 0em solid transparent;
    border-right-color: inherit;
    -webkit-transition: border-color 0.2s ease;
    -moz-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease;
    margin-top:10px !important;
}

.required-field-block .required-icon .text {
	color: #B80000;
	font-size: 26px;
	margin: 3px 0 0 12px;
}

.hostlegend{
    font-size: 130%;
    position: fixed;
 
}

.clearfixaccount{
    clear: both;
}

@font-face{
    font-family: "daxfont";
    src: url('DaxRegular.ttf');
}

label b{
    color: #004e9e;
}

#calendardate{
    color: #000;
}

@media (min-width: 200px){

.col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
}

@media (max-width: 500px){
    .col-sm-12{
        height:70%;
    }

    .scrollit {
        overflow:scroll;
        height:300px;
        width:100%;
    }
}

.table td, .table th {
    vertical-align: middle !important;   
}

div .modal-header {
    padding-top: 7.5px;
    padding-bottom: 7.5px;
}

div .modal-footer {
    padding-bottom: 0px;
    padding-top: 0px;
}

.col-3 label{
    padding-top: 10px;
}

div #room-editor input, div #user-cont input{
    padding-bottom: 7.5px;
    padding-top: 7.5px;
}

div #lost-password input {
    padding-bottom: 6px;
    padding-top: 6px;
}

/* div #room-editor label {
    margin-bottom: 0px;
}
div #room-editor input {
    margin-top: 0px;
} */


/* .scrollit {
    overflow:scroll;
    height:200px;
} */
/* .jqx-scheduler, .jqx-widget-content{
    font-family: 'daxfont', sans-serif;
} */



