/* You can add global styles to this file, and also import other style files */
html, body
{
    height: 100%;
}

header nav {
    padding: 10px;
}

footer p {
    padding-top: 10px;
    margin: 4px 0px 20px 5px;
    z-index: 1;
    position: absolute;
}

body .btn, button {
    cursor: pointer;
}

body .btn-primary {
    background-color: #004e9e;
}

body .btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    box-shadow: none;
}

.bg-overlay {
    background: linear-gradient(rgba(255, 255, 255, 0.158), rgba(0, 0, 0, 0.075)), url('/../../../assets/img/grey.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    min-height: 100%;
    width: 100%;
}

.navbar-brand {
    color: #004e9e;
}

form
{
    border: 0;
    float: none;
    padding-top: 10px;
    margin: auto;
}

.card-body{
    background-color: #F7F7F7;
    margin:auto;
    padding: 2px;
    border: 1px solid rgb(223, 220, 220);
    width: 60%;
}

label
{
    color: #000;
    padding-top: 10px;
}

input[type=text], input[type=password]
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    line-height: initial;
}

button {
    background-color: #004e9e;
    color: #fff;
    margin: 8px 0;
    margin-right: 2cm;
    border: none;
    padding-top: 0px;
    font-weight: 700;
    font-size: 14px;

}

#loginbtn:hover,
#loginbtn:active,
#loginbtn:focus {
    background-color: #007bff;
}

#loginbtn {
    position: relative;
    width: 100%;
    margin-top: 30px;
}

#sign-out {
    position: relative;
    padding: 10px;
}

#welcome-message {
    position: absolute;
    top: 35px;
}

.modal-header {
    color: #fff;
    background-color: #004e9e;
}







