<div class="row" style="margin-left: 0px">
    <host-selector (hostChange)="onHostChanged($event)"></host-selector>
    <form class="form-inline datePickerForm">
        <div class="form-group">
            <div class="input-group">
                <input class="form-control" placeholder="{{displayDate | date: 'yyyy-MM-dd'}}" name="dp" [(ngModel)]="model.startDate" ngbDatepicker #d="ngbDatepicker" id="datePicker" (focus)="d.open()" (ngModelChange)="listAvailabilities()" (clickOutside)="d.close()">
                <div class="input-group-append">
                    <button class="btn btn-primary" (click)="d.toggle()" type="button">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<button class="btn btn-primary" (click)="onAddAvailability()">{{'Availability.add' | translate}}</button>&nbsp;
<button class="btn btn-primary" (click)="onAddException()">{{'Exception.add' | translate}}</button> 
<div class="row">
    <div >
        <table class="table table-hover table-striped table-responsive table table-bordered text-center col col-md-3" >
            <thead>
                <tr>
                    <th colspan="4">{{'Availabilities' | translate}}</th>  
                    <th>{{'col.edit' | translate}}</th>  
                </tr>
            </thead>
            
            <tbody>
                <tr *ngFor="let day of availabilities | paginate: { itemsPerPage: 6, currentPage: availPage, id: 'first'}">
                    <td>{{day.startDate | localizedDate:'EE' | titlecase }} </td>
                    <td>{{day.startDate | localizedDate:'HH:mm' }} </td> 
                    <td>{{day.endDate | localizedDate:'HH:mm'}} </td> 
                    <td>{{day.roomName}}</td>
                    <td>
                        <button class = "btn btn-primary" (click)="onSelectAvailability(day)" title="{{'Availability.edit' | translate}}">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="availPage = $event" id="first"></pagination-controls>
      
    </div>
    <div>
        <table class="table table-hover table-striped table-responsive table table-bordered text-center col col-md-2" >
            <thead>
                <tr>
                    <th colspan="3">{{ 'Exceptions' | translate }}</th>    
                </tr>
            </thead>
            
            <tbody>
                <tr *ngFor="let day of exceptions | paginate: { itemsPerPage: 6, currentPage: execPage, id: 'second'}" >
                <td>{{day.startDate | localizedDate:'EE' | titlecase }} </td>
                <td>{{day.startDate | localizedDate:'HH:mm' }} </td> 
                <td>{{day.endDate | localizedDate:'HH:mm'}} </td>
                </tr>
            </tbody>
        </table>
        <pagination-controls (pageChange)="execPage = $event" id="second"></pagination-controls>
    </div>
    
</div>

    