<host-selector (hostChange)="onHostChanged($event)"></host-selector>
<form class="form-inline datePickerForm">
    <div class="form-group">
        <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model.startDate" ngbDatepicker #d="ngbDatepicker" id="datePicker" (click)="listAvailabilities()">
            <div class="input-group-append">
                <button class="btn btn-primary" (click)="d.toggle()" type="button">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</form>
<div class="row">
    <table class="table table-hover table-striped table-responsive table table-bordered text-center col col-md-2" >
        <thead>
            <tr>
                <th colspan="4">{{'Availabilities' | translate}}</th>  
            </tr>
        </thead>
        
        <tbody>
            <tr *ngFor="let day of availabilities">
            <td>{{day.startDate | localizedDate:'EE' | titlecase }} </td>
            <td>{{day.startDate | localizedDate:'HH:mm' }} </td> 
            <td>{{day.endDate | localizedDate:'HH:mm'}} </td> 
            <td>{{day.roomName}}</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-hover table-striped table-responsive table table-bordered text-center col col-md-2" >
        <thead>
            <tr>
                <th colspan="4">{{ 'Exceptions' | translate }}</th>    
            </tr>
        </thead>
        
        <tbody>
            <tr *ngFor="let day of exceptions" >
            <td>{{day.startDate | localizedDate:'EE' | titlecase }} </td>
            <td>{{day.startDate | localizedDate:'HH:mm' }} </td> 
            <td>{{day.endDate | localizedDate:'HH:mm'}} </td>
            <td>{{day.roomName}}</td>
            </tr>
        </tbody>
    </table>
</div>
    