<div class="container d-flex h-100">
    <div class="row justify-content-center align-self-center col-sm-6 col-md-9 col-lg-8 col-xl-5 mx-auto">
        <div class="card-body">
            <form>
                <div id="user-cont">
                    <a href="https://stefanini.com/en/">
                        <img src="../../../assets/img/header-logo2.png"  id="logo-header" class="img-fluid">
                        <span id="nav-text1" class="navbar-brand">Room Scheduler</span>
                    </a>
                    <ngb-alert type="danger" *ngIf="errorMessage" [dismissible]="false">{{ errorMessage | translate }}</ngb-alert>

                    <!-- <label><b>Username</b></label> -->

                    <input type="text" placeholder="{{ 'register.firstName' | translate }}" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" required>
                    
                    <input type="text" placeholder="{{ 'register.lastName' | translate }}" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" required>

                    <input type="text" placeholder="{{ 'register.name' | translate }}" name="name" [(ngModel)]="model.name" #name="ngModel" required>

                    <input type="text" placeholder="{{ 'register.email' | translate }}" name="email" [(ngModel)]="model.email" #email="ngModel" required email>
                    <!-- to do display invalid email validation -->
                    <ngb-alert type="danger" [dismissible]="false" *ngIf="!email.valid && email.dirty">{{ 'wrong.email' | translate }}</ngb-alert>

                    <input type="password" placeholder="{{ 'register.password' | translate }}" name="password" [(ngModel)]="model.password" #password="ngModel" required validateEqual="confirmPassword" reverse="true">
                                
                    <input type="password" placeholder="{{ 'register.confirmPassword' | translate }}" name="confirmPassword" [(ngModel)]="model.confirmPassword" #confirmPassword="ngModel" required validateEqual="password" reverse="false">
                    <ngb-alert type="danger" [dismissible]="false" *ngIf="!confirmPassword.valid && confirmPassword.dirty">{{ 'mismatch.password' | translate }}</ngb-alert>
                   
                   

                    <!-- REGISTER BUTTONS -->
                    <div class="row-fluid">
                        <div class="btn-group" ngbRadioGroup>
                            <label ngbButtonLabel class="btn btn-primary">
                                <input ngbButton type="radio" value="1">ADC
                            </label>
                            <label ngbButtonLabel class="btn-primary">
                                <input ngbButton type="radio" value="2">SDC
                            </label>                      
                        </div>

                        <div class="float-right">
                            <button  type="submit" class="btn btn-primary"  >
                                {{ 'register.button' | translate }}
                                <!-- <i class="fa fa-lock"></i> -->
                            </button>
                        </div>
                    </div>

                    
                    <!-- <input type="checkbox" checked="checked"><span id="rem-me">Remember me</span> -->
                </div>

                <!-- <div id="cancel-cont">
                    <button id="reset1" type="reset">Cancel</button>
                    <span class="psw">Forgot <a href="#">password?</a></span>
                </div> -->
            </form>
        </div>
    </div>
</div>