<div class="container d-flex h-100">
    <div class="row justify-content-center align-self-center col-sm-6 col-md-9 col-lg-8 col-xl-5 mx-auto">
        <div class="card-body">
            <form>
                <div id="user-cont">
                    <a href="https://stefanini.com/en/">
                        <img src="../../../assets/img/header-logo2.png"  id="logo-header" class="img-fluid">
                        <span id="nav-text1" class="navbar-brand">Room Scheduler</span>
                    </a>
                    <ngb-alert type="danger" *ngIf="errorMessage" [dismissible]="false">{{ errorMessage | translate }}</ngb-alert>

                    <div class="row">
                        <div class="col"><input type="text" placeholder="{{ 'register.firstName' | translate }}" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" required></div>
                        <div class="col"><input type="text" placeholder="{{ 'register.lastName' | translate }}" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" required></div>
                    </div>

                    <div class="row">
                        <div class="col"><input type="text" placeholder="{{ 'register.name' | translate }}" name="name" [(ngModel)]="model.name" #name="ngModel" required></div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <input type="text" placeholder="{{ 'register.email' | translate }}" name="email" [(ngModel)]="model.email" #email="ngModel" required email>
                            <!-- to do display invalid email validation -->
                            <ngb-alert type="danger" [dismissible]="false" *ngIf="!email.valid && email.dirty">{{ 'wrong.email' | translate }}</ngb-alert>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <input type="password" autocomplete="off" placeholder="{{ 'register.password' | translate }}" name="password" [(ngModel)]="model.password" #password="ngModel" required validateEqual="confirmPassword" reverse="true">
                        </div>
                        <div class="col">
                            <input type="password" autocomplete="off" placeholder="{{ 'register.confirmPassword' | translate }}" name="confirmPassword" [(ngModel)]="model.confirmPassword" #confirmPassword="ngModel" required validateEqual="password" reverse="false">
                        </div>
                    </div>
                    <div class="row" *ngIf="!confirmPassword.valid && confirmPassword.dirty">
                        <div class="col"><ngb-alert type="danger" [dismissible]="false">{{ 'mismatch.password' | translate }}</ngb-alert></div>
                    </div>

                    <!-- REGISTER BUTTONS -->
                    <div class="row-fluid">
                        <div class="btn-group" ngbRadioGroup>
                            <label ngbButtonLabel class="btn btn-primary">
                                <input ngbButton type="radio" value="1">ADC
                            </label>
                            <label ngbButtonLabel class="btn-primary">
                                <input ngbButton type="radio" value="2">SDC
                            </label>                      
                        </div>

                        <div class="float-right">
                            <button  type="submit" class="btn btn-primary"  >
                                {{ 'register.button' | translate }}
                                <!-- <i class="fa fa-lock"></i> -->
                            </button>
                        </div>
                    </div>

                    <p>
                        {{ 'login.alreadyHaveAccount' | translate }}
                        <a routerLink="/login">{{ 'login.button' | translate }}</a>.
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>