<div class="modal-header">
    <h6 class="modal-title">{{title | translate}}</h6>
    <button type="button" (click)="activeModal.close()"><i class="fa fa-times" aria-hidden="true"></i></button> 
</div>
    
<div class="modal-body">
    <div class="container h-100" id="exceptions">
        <div class="align-self-center mx-auto">    
            <ngb-alert [dismissible]="false" type="danger" *ngIf="addExcept==false">{{'Error.Exception.Add' | translate}}</ngb-alert>          
            <ngb-alert type="danger" *ngIf="errorMessages && errorMessages['generic']" [dismissible]="false">
                <div *ngFor="let errorMessage of errorMessages['generic']">{{ errorMessage | translate }}</div>
            </ngb-alert>          
            <label class="label col-5"><b>{{'Availability.startDate'|translate}}</b></label>
            <!--DATE PICKER-->           
            <form class="form-inline datePickerForm">
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" placeholder="{{displayDate | date: 'yyyy-MM-dd'}}" name="dp" ngbDatepicker #d="ngbDatepicker" id="datePicker" [(ngModel)]="model.startDate" (focus)="d.open()" requiered>
                        <div class="input-group-append">
                            <button class="btn btn-primary" (click)="d.toggle()" type="button" id="dropdownHosts">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                    
                </div>
            </form>               
        </div>
        <ngb-alert type="danger" *ngIf="errorMessages && errorMessages['StartDate']" [dismissible]="false">
            <div *ngFor="let errorMessage of errorMessages['StartDate']">{{ errorMessage | translate }}</div>
        </ngb-alert>
        <ngb-alert type="danger" *ngIf="errorMessages && errorMessages['EndDate']" [dismissible]="false">
            <div *ngFor="let errorMessage of errorMessages['EndDate']">{{ errorMessage | translate }}</div>
        </ngb-alert>

        <!-- VALIDATION FOR HOURS BETWEEN 9 AND 18 -->
        <div class="marginLeftRight text-center">
            <ngb-alert type="danger" [dismissible]="false" *ngIf="!ctrl.valid">
                <div *ngIf="ctrl.errors['tooEarly']">{{'Exception.Hours' | translate}}</div>
            </ngb-alert>
        </div>

        <!--START AND END HOUR-->
        <div class="align-self-center mx-auto">
            <div class="row">
                <label class="label col-5 labelHour"><b>{{'Exception.startHour' | translate}}</b></label>
                <label class="label col-5 labelHour"><b>{{'Exception.endHour' | translate}}</b></label>
            </div>
            <div class="row align-self-center mx-auto">
                <ngb-timepicker class="timePicker" [(ngModel)]="startHour" [minuteStep]="minuteStep"></ngb-timepicker>
                <ngb-timepicker [(ngModel)]="endHour" [minuteStep]="minuteStep"></ngb-timepicker>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary float-right" *ngIf="!model.id" (click)="addException()">{{'Exception.add'|translate}}</button> 
    <button type="button" class="btn btn-primary" *ngIf="model.id" (click)="removeException()">{{ 'Exception.remove' | translate }}</button>    
    <button type="button" class="btn btn-primary float-right" *ngIf="model.id" (click)="editException()">{{'button.save'|translate}}</button> 
</div>
