<button class = "btn btn-primary float-left" (click)="onAddRoom()">{{'rooms.add' | translate}}</button><br><br>
<div class="scrollit">
  <table class="table table-hover table-striped table-responsive table table-bordered text-center">
    <thead>
        <tr>
          <th>{{'AdminTabs.Rooms' | translate}}</th>
          <th>{{'location' | translate}}</th>
          <th>{{'rooms.status' | translate}}</th>
          <th>{{'actions' | translate}}</th>
        </tr>
    </thead>

    <tbody>
      <tr *ngFor="let room of rooms | paginate: { itemsPerPage: 6, currentPage: roompage}">
        <td>{{room.name}}</td>
        <td>{{room.location}}</td>
        <td *ngIf="room.isActive">{{'rooms.isActive' | translate}}</td>
        <td *ngIf="!room.isActive">{{'rooms.isNotActive' | translate}}</td>
        <td> 
          <button class = "btn btn-primary" (click)="onSelectRoom(room)" title="{{'rooms.edit' | translate}}">
              <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<pagination-controls (pageChange)="roompage = $event"></pagination-controls>